<!doctype html>
<html lang="en">
  <head>
   
    <title>Home</title>
  </head>
<body>
  <body>
        <ul> 
          <li>
            <a class="nav-link" href="/portfolio">
              <span >Portfolio</span>
            </a>
          </li>
          <li>
            <a href="/testimonial">
              <span >Testimonial</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/category">
              <span class="nav-link-text">Category</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="/contact">
              <span class="nav-link-text">Contact Us</span>
            </a>
          </li>
          <li title="Auth User">
            <a  href="#" >
              <span >Auth User</span>
            </a>
            <ul>
              <li>
                <a href="/profile">View Profile</a>
              </li>
              <li>
                <a href="/updateProfile">Update Profile</a>
              </li>
              <li>
                <a href="/resetPassword">Reset Password</a>
              </li>
              <li>
                <a href="/logout">Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/logout" >
              <i></i>Logout</a>
          </li>
        </ul>
      </div>
    <div >
      <div>
       
        <ol>
          <li>
            <a href="#">Dashboard</a>
          </li>
          <li>My Dashboard</li>
        </ol>
       
       </div>
        </div>
              </div>
            </div>
          </div>
          <div>
        <div>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </thead>
                <!-- <tfoot>
                  <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Age</th>
                    <th>Start date</th>
                    <th>Salary</th>
                  </tr>
                </tfoot> -->
                
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</script>
</body>

</html>